<!DOCTYPE html>
<html>
  <head>
    <title>Homemade App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/app.js"></script>
  </head>
  <body>

    <div class="navbar navbar-default">
      <div class="container">
        <div class="brand-con">
          <div class="navbar-brand">
            Homemade
          </div>
        </div>
      </div>
    </div> 

    <div class="container con-body">

      <div class="jumbotron">
        <h1>Recipes!</h1>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

          <form id="newRecipe" class="cust-form">
            <div class="form-recipeName">
              <input type="text" name="recipeName" id="new-recipe" class="form-control" placeholder="Name">
            </div>
            <div class="form-ingredients">
              <textarea name="ingredients" class="form-control" placeholder="Ingredients"></textarea>
            </div>
            <div class="form-instructions">
              <textarea name="instructions" class="form-control" placeholder="Instructions"></textarea>
            </div>
            <button class="btn btn-primary">Add Recipe</button>
          </form>

        </div>
      </div>
      
       <ul class="list-group" id="recipe-ul">
    </ul>

    </div>

    
  </body>
<script type="text/template" id="recipeTemp">
      <% _.each(collection, function(item){ %>
      <li class='list-group-item'>
        <div>
          <div><span class="name"><%= item.recipeName %></span></div>
          <div><span class="ingredients"><%= item.ingredients%></span></div>
          <div><span class="instructions"><%= item.instructions%></span></div>
        </div>

        <div class="buttons">
          <!-- edit link (pencil icon) to toggle form -->
          <a id="toggler" data-toggle="collapse" class="active" data-target="#update-<%=item._id%>" >
            <span class="glyphicon glyphicon-pencil edit"></span>
          </a>
          
          <!-- delete button w/ registered onclick function -->
          <button data-id="<%= item._id %>" onclick="Recipes.delete(this)" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- update phrase form -->
        <div id="update-<%=item._id%>" class="collapse">
          <form id="update-form-<%=item._id%>" data-recipeid="<%=item._id%>" class="form-inline" onsubmit="Recipe.update(event, this)">
            <input name="name" type="text" class="form-control" placeholder="New Name">
            <input name="ingredients" type="text" class="form-control" placeholder="New Ingredients">
            <input name="instructions" type="text" class="form-control" placeholder="New Instructions?">
            <button type="submit" class="btn btn-default">Update Recipe</button>
          </form>
        </div> 
      </li>
    <% }); %>
    </script>
</html>